.machine-header, .content {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  width: 1500px;
  margin-left: 90px;
}

.machine-header {
  font-weight: bold;
  background: black;
  border-top: 2px solid #666;
  color: white;
}

.content:hover {
  background: #f9f9f9;
}
