<div *ngIf="loading">Loading machines...</div>
<div *ngIf="error">{{ error }}</div>

<table *ngIf="!loading && !error && machines.length > 0">
  <thead>
    <tr>
      <th>Machine_No</th>
      <th>Machine_Category</th>
      <th>Machine_Name</th>
      <th>Machine_Discription</th>
      <th>Machine_Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machines">
      <td>{{ machine.MEMR_Machine_No }}</td>
      <td>{{ machine.MEMR_Machine_Category }}</td>
      <td>{{ machine.MEMR_Machine_Name }}</td>
      <td>{{ machine.MEMR_Machine_Discription }}</td>
      <td>{{ machine.MEMR_Machine_Location }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loading && !error && machines.length === 0">
  No machines found.
</div>
