<!-- Sidebar + Topbar -->
<div *ngIf="!isAuthPage()">
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #drawer mode="side" class="sidenav" [opened]="false">
      <div class="logo">
        <img src="../assets/logo.jpg" class="logoimage">
      </div>

      <mat-nav-list>
        <!-- Dashboard -->
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" class="b">
          <mat-icon>home</mat-icon> Dashboard
        </a>
        <br>

        <!-- Machine -->
        <mat-expansion-panel class="menu-panel" hideToggle>
          <mat-expansion-panel-header class="b">
            <mat-icon>layers</mat-icon>
            <span>Machine</span>
          </mat-expansion-panel-header>
          <mat-action-list>
            <a mat-list-item routerLink="/machine/list" routerLinkActive="active-link" class="a">
              Machine List
            </a>
          </mat-action-list>
        </mat-expansion-panel>
        <br>

        <!-- Transaction -->
        <a mat-list-item routerLink="/transaction" routerLinkActive="active-link" class="b">
          <mat-icon>history</mat-icon> Transaction
        </a>
        <br>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
      <mat-toolbar class="topbar">
        <!-- Menu button always visible -->
        <button mat-icon-button (click)="drawer.toggle()" class="menub"> 
          <mat-icon class="menuu">menu</mat-icon>
        </button>
        <span class="spacer"></span>

        <!-- Other topbar items -->
        <div class="weather">
          <mat-icon>wb_cloudy</mat-icon>
          <span>{{ temperature }} °C</span>
        </div>

        <div class="day">
          <mat-icon>event</mat-icon>
          <span>{{ currentDay }}</span>
        </div>

        <div class="clock">
          <mat-icon>access_time</mat-icon>
          <span>{{ currentTime }}</span>
        </div>

        <!-- Profile menu -->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <img src="https://api.dicebear.com/6.x/adventurer/png?seed=Men1" alt="Profile" class="profile-pic">
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item routerLink="/signup" class="menu_SL">
            <mat-icon>person_add</mat-icon>
            <span>Signup</span>
          </button>
          <button mat-menu-item routerLink="/login" class="menu_SL">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Login & Signup pages -->
<div *ngIf="isAuthPage()">
  <router-outlet></router-outlet>
</div>
