<div *ngIf="loading" class="loading">Loading machines data...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<br>
<div class="download-btn-container">
    <button (click)="downloadCSV()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
<div *ngIf="!loading && !error">
  <!-- Table header -->
  <div class="machine-header">
    <div>Machine Id</div>
    <div>Machine No</div>
    <div>Machine Name</div>
    <div>Category</div>
    <div>Description</div>
    <div>Location</div>
    <!-- Download PDF button -->
  </div>

  <!-- Table rows -->
  <div *ngFor="let machine of machines" class="content">
    <div>{{ machine.MEMR_Machine_Id }}</div>
    <div>{{ machine.MEMR_Machine_No }}</div>
    <div>{{ machine.MEMR_Machine_Name }}</div>
    <div>{{ machine.MEMR_Machune_Category }}</div>
    <div>{{ machine.MEMR_Machine_Discription }}</div>
    <div>{{ machine.MEMR_Machine_Location }}</div>
  </div>
</div>
<br>

