table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid rgba(11, 73, 114, 1);
  padding: 8px;
  text-align: left;
}

th {
  background-color: #35c727d5;
  color: rgba(11, 73, 114, 1);
}

td{
  border: 1px solid rgba(11, 73, 114, 1);
  padding: 8px;
  text-align: left;
  color: black;
}