<div>
  <br>
  <!-- Machine select dropdown -->
  <label for="machineSelect">Select Machine: </label>
  <select id="machineSelect" [(ngModel)]="selectedMachine" (change)="onMachineChange()" class="box">
    <option value="">-- Select Machine --</option>
    <option *ngFor="let machine of machines" [value]="machine.MEMR_Machine_Id" class="selected">
      {{ machine.MEMR_Machine_Name }} ({{ machine.MEMR_Machine_Id }})
    </option>
  </select>
</div>

<br>
<br>
<!-- Transactions Table -->
<div *ngIf="transactions.length > 0; else noData">
  <div class="machine-header">
    <div class="title">Transaction Id</div>
    <div class="title">Machine Id</div>
    <div class="title">Transaction Value</div>
    
  </div>

  <div *ngFor="let txn of transactions" class="content">
    <div class="titlee">{{ txn.PTMR_Transaction_Id }}</div>
    <div class="titlee">{{ txn.MEMR_Machine_Id }}</div>
    <div class="titlee">{{ txn.METS_Transaction_Value }}</div> 
  </div>
</div>

<!-- No Data Message -->
<ng-template #noData>
  <p>No transactions found for this machine.</p>
</ng-template>
